>13/10/2002 13:29:26 null model network based on states.config states.dic. Total node:48 Total edges:110
NORTH_CAROLINA:initial	IDAHO:recent	OREGON:recent	NEW_HAMPSHIRE:initial	MINNESOTA:recent	
TEXAS:intermediate	DELAWARE:initial	MISSOURI:intermediate	MONTANA:recent	TENNESSEE:intermediate	
CONNECTICUT:initial	ARIZONA:recent	GEORGIA:initial	IDAHO:recent	
UTAH:recent	TENNESSEE:intermediate	MASSACHUSETTS:initial	ARIZONA:recent	COLORADO:recent	MISSOURI:intermediate	NORTH_DAKOTA:recent	
MASSACHUSETTS:initial	ILLINOIS:intermediate	UTAH:recent	TENNESSEE:intermediate	IDAHO:recent	COLORADO:recent	
ARKANSAS:intermediate	IOWA:intermediate	SOUTH_DAKOTA:recent	KANSAS:recent	OHIO:intermediate	NEW_MEXICO:recent	OKLAHOMA:recent	
LOUISIANA:intermediate	WISCONSIN:intermediate	NEVADA:recent	NEW_YORK:initial	
COLORADO:recent	TENNESSEE:intermediate	NEW_JERSEY:initial	CALIFORNIA:intermediate	OKLAHOMA:recent	ALABAMA:intermediate	UTAH:recent	MASSACHUSETTS:initial	
IOWA:intermediate	ARKANSAS:intermediate	SOUTH_DAKOTA:recent	IDAHO:recent	PENNSYLVANIA:initial	GEORGIA:initial	NEBRASKA:recent	
IDAHO:recent	NORTH_CAROLINA:initial	ILLINOIS:intermediate	IOWA:intermediate	MASSACHUSETTS:initial	CONNECTICUT:initial	MISSOURI:intermediate	
SOUTH_CAROLINA:initial	MONTANA:recent	INDIANA:intermediate	
NEW_HAMPSHIRE:initial	VIRGINIA:initial	NORTH_CAROLINA:initial	KENTUCKY:intermediate	
MISSOURI:intermediate	TENNESSEE:intermediate	WISCONSIN:intermediate	NEVADA:recent	TEXAS:intermediate	MICHIGAN:intermediate	VERMONT:intermediate	UTAH:recent	IDAHO:recent	
MISSISSIPPI:intermediate	NEW_YORK:initial	MINNESOTA:recent	KENTUCKY:intermediate	MONTANA:recent	
TENNESSEE:intermediate	UTAH:recent	COLORADO:recent	MISSOURI:intermediate	MASSACHUSETTS:initial	ALABAMA:intermediate	TEXAS:intermediate	SOUTH_DAKOTA:recent	MICHIGAN:intermediate	
NEW_MEXICO:recent	ARIZONA:recent	OHIO:intermediate	OKLAHOMA:recent	ARKANSAS:intermediate	OREGON:recent	
FLORIDA:intermediate	MONTANA:recent	OKLAHOMA:recent	
GEORGIA:initial	VIRGINIA:initial	MINNESOTA:recent	NEBRASKA:recent	IOWA:intermediate	CONNECTICUT:initial	
MONTANA:recent	SOUTH_CAROLINA:initial	FLORIDA:intermediate	MISSISSIPPI:intermediate	TEXAS:intermediate	
OHIO:intermediate	VERMONT:intermediate	ARKANSAS:intermediate	NEW_MEXICO:recent	SOUTH_DAKOTA:recent	DELAWARE:initial	
WISCONSIN:intermediate	LOUISIANA:intermediate	MISSOURI:intermediate	WEST_VIRGINIA:recent	ILLINOIS:intermediate	
ARIZONA:recent	KENTUCKY:intermediate	CONNECTICUT:initial	OREGON:recent	NEW_MEXICO:recent	UTAH:recent	
MINNESOTA:recent	VIRGINIA:initial	MISSISSIPPI:intermediate	GEORGIA:initial	CALIFORNIA:intermediate	NORTH_CAROLINA:initial	
SOUTH_DAKOTA:recent	WEST_VIRGINIA:recent	ARKANSAS:intermediate	IOWA:intermediate	OHIO:intermediate	KENTUCKY:intermediate	TENNESSEE:intermediate	
WYOMING:recent	WEST_VIRGINIA:recent	NEVADA:recent	RHODE_ISLAND:initial	MARYLAND:initial	INDIANA:intermediate	NEW_YORK:initial	
ALABAMA:intermediate	NEW_JERSEY:initial	NORTH_DAKOTA:recent	COLORADO:recent	TENNESSEE:intermediate	
NORTH_DAKOTA:recent	ALABAMA:intermediate	VERMONT:intermediate	UTAH:recent	
DELAWARE:initial	TEXAS:intermediate	KANSAS:recent	OHIO:intermediate	
MAINE:intermediate	NEW_YORK:initial	
NEW_YORK:initial	MISSISSIPPI:intermediate	ILLINOIS:intermediate	LOUISIANA:intermediate	MAINE:intermediate	WYOMING:recent	MARYLAND:initial	
OKLAHOMA:recent	WASHINGTON:recent	FLORIDA:intermediate	PENNSYLVANIA:initial	COLORADO:recent	NEW_MEXICO:recent	ARKANSAS:intermediate	
ILLINOIS:intermediate	MASSACHUSETTS:initial	NEW_YORK:initial	KENTUCKY:intermediate	IDAHO:recent	WISCONSIN:intermediate	MICHIGAN:intermediate	
RHODE_ISLAND:initial	MICHIGAN:intermediate	NEBRASKA:recent	WYOMING:recent	
CALIFORNIA:intermediate	MARYLAND:initial	COLORADO:recent	MINNESOTA:recent	
VIRGINIA:initial	GEORGIA:initial	NEW_HAMPSHIRE:initial	MINNESOTA:recent	WEST_VIRGINIA:recent	KANSAS:recent	
KENTUCKY:intermediate	ARIZONA:recent	ILLINOIS:intermediate	MISSISSIPPI:intermediate	SOUTH_DAKOTA:recent	NEBRASKA:recent	INDIANA:intermediate	NEW_HAMPSHIRE:initial	
VERMONT:intermediate	OHIO:intermediate	MISSOURI:intermediate	NORTH_DAKOTA:recent	
WEST_VIRGINIA:recent	WYOMING:recent	SOUTH_DAKOTA:recent	WASHINGTON:recent	WISCONSIN:intermediate	VIRGINIA:initial	
OREGON:recent	PENNSYLVANIA:initial	ARIZONA:recent	NORTH_CAROLINA:initial	NEW_MEXICO:recent	
WASHINGTON:recent	WEST_VIRGINIA:recent	OKLAHOMA:recent	
INDIANA:intermediate	WYOMING:recent	KENTUCKY:intermediate	SOUTH_CAROLINA:initial	NEVADA:recent	
NEW_JERSEY:initial	ALABAMA:intermediate	PENNSYLVANIA:initial	COLORADO:recent	
KANSAS:recent	ARKANSAS:intermediate	NEBRASKA:recent	DELAWARE:initial	VIRGINIA:initial	
PENNSYLVANIA:initial	OREGON:recent	NEW_JERSEY:initial	OKLAHOMA:recent	MARYLAND:initial	IOWA:intermediate	NEVADA:recent	
MICHIGAN:intermediate	RHODE_ISLAND:initial	MISSOURI:intermediate	NEBRASKA:recent	ILLINOIS:intermediate	TENNESSEE:intermediate	
MARYLAND:initial	CALIFORNIA:intermediate	WYOMING:recent	PENNSYLVANIA:initial	NEW_YORK:initial	
NEVADA:recent	WYOMING:recent	MISSOURI:intermediate	LOUISIANA:intermediate	PENNSYLVANIA:initial	INDIANA:intermediate	
NEBRASKA:recent	RHODE_ISLAND:initial	KANSAS:recent	GEORGIA:initial	KENTUCKY:intermediate	MICHIGAN:intermediate	IOWA:intermediate	
