CALIFORNIA  
MAINE  
VERMONT  
NORTH_CAROLINA  GEORGIA  SOUTH_CAROLINA  VIRGINIA  MARYLAND  DELAWARE  PENNSYLVANIA  NEW_JERSEY  NEW_YORK  CONNECTICUT  MASSACHUSETTS  RHODE_ISLAND  NEW_HAMPSHIRE  
WEST_VIRGINIA  
TEXAS  ARKANSAS  LOUISIANA  MISSISSIPPI  MISSOURI  TENNESSEE  ALABAMA  ILLINOIS  IOWA  KENTUCKY  FLORIDA  INDIANA  MICHIGAN  WISCONSIN  OHIO  
UTAH  ARIZONA  COLORADO  IDAHO  NEVADA  NEW_MEXICO  WYOMING  KANSAS  NEBRASKA  OKLAHOMA  MONTANA  OREGON  WASHINGTON  SOUTH_DAKOTA  NORTH_DAKOTA  MINNESOTA  
