>Translated network configuration. In:config Dic:dic9/8/2002 16:10:41 Old header: >48 continetal states and theiry bodering configuration
TEXAS:intermediate	ARKANSAS:intermediate	LOUISIANA:intermediate	NEW_MEXICO:recent	OKLAHOMA:recent
NORTH_CAROLINA:initial	GEORGIA:initial	SOUTH_CAROLINA:initial	TENNESSEE:intermediate	VIRGINIA:initial
CONNECTICUT:initial	MASSACHUSETTS:initial	NEW_YORK:initial	RHODE_ISLAND:initial
UTAH:recent	ARIZONA:recent	COLORADO:recent	IDAHO:recent	NEVADA:recent	NEW_MEXICO:recent	WYOMING:recent
MASSACHUSETTS:initial	CONNECTICUT:initial	NEW_HAMPSHIRE:initial	NEW_YORK:initial	RHODE_ISLAND:initial	VERMONT:intermediate
LOUISIANA:intermediate	ARKANSAS:intermediate	MISSISSIPPI:intermediate	TEXAS:intermediate
ARKANSAS:intermediate	LOUISIANA:intermediate	MISSISSIPPI:intermediate	MISSOURI:intermediate	OKLAHOMA:recent	TENNESSEE:intermediate	TEXAS:intermediate
COLORADO:recent	ARIZONA:recent	KANSAS:recent	NEBRASKA:recent	NEW_MEXICO:recent	OKLAHOMA:recent	UTAH:recent	WYOMING:recent
IOWA:intermediate	ILLINOIS:intermediate	MINNESOTA:recent	MISSOURI:intermediate	NEBRASKA:recent	SOUTH_DAKOTA:recent	WISCONSIN:intermediate
IDAHO:recent	MONTANA:recent	NEVADA:recent	OREGON:recent	UTAH:recent	WASHINGTON:recent	WYOMING:recent
SOUTH_CAROLINA:initial	GEORGIA:initial	NORTH_CAROLINA:initial
NEW_HAMPSHIRE:initial	MAINE:intermediate	MASSACHUSETTS:initial	VERMONT:intermediate
MISSOURI:intermediate	ARKANSAS:intermediate	ILLINOIS:intermediate	IOWA:intermediate	KANSAS:recent	KENTUCKY:intermediate	NEBRASKA:recent	OKLAHOMA:recent	TENNESSEE:intermediate
MISSISSIPPI:intermediate	ALABAMA:intermediate	ARKANSAS:intermediate	LOUISIANA:intermediate	TENNESSEE:intermediate
TENNESSEE:intermediate	ALABAMA:intermediate	ARKANSAS:intermediate	GEORGIA:initial	KENTUCKY:intermediate	MISSISSIPPI:intermediate	MISSOURI:intermediate	NORTH_CAROLINA:initial	VIRGINIA:initial
NEW_MEXICO:recent	ARIZONA:recent	COLORADO:recent	OKLAHOMA:recent	TEXAS:intermediate	UTAH:recent
FLORIDA:intermediate	ALABAMA:intermediate	GEORGIA:initial
GEORGIA:initial	ALABAMA:intermediate	FLORIDA:intermediate	NORTH_CAROLINA:initial	SOUTH_CAROLINA:initial	TENNESSEE:intermediate
MONTANA:recent	IDAHO:recent	NORTH_DAKOTA:recent	SOUTH_DAKOTA:recent	WYOMING:recent
OHIO:intermediate	INDIANA:intermediate	KENTUCKY:intermediate	MICHIGAN:intermediate	PENNSYLVANIA:initial	WEST_VIRGINIA:recent
WISCONSIN:intermediate	ILLINOIS:intermediate	IOWA:intermediate	MICHIGAN:intermediate	MINNESOTA:recent
ARIZONA:recent	CALIFORNIA:intermediate	COLORADO:recent	NEVADA:recent	NEW_MEXICO:recent	UTAH:recent
MINNESOTA:recent	IOWA:intermediate	MICHIGAN:intermediate	NORTH_DAKOTA:recent	SOUTH_DAKOTA:recent	WISCONSIN:intermediate
SOUTH_DAKOTA:recent	IOWA:intermediate	MINNESOTA:recent	MONTANA:recent	NEBRASKA:recent	NORTH_DAKOTA:recent	WYOMING:recent
WYOMING:recent	COLORADO:recent	IDAHO:recent	MONTANA:recent	NEBRASKA:recent	SOUTH_DAKOTA:recent	UTAH:recent
ALABAMA:intermediate	FLORIDA:intermediate	GEORGIA:initial	MISSISSIPPI:intermediate	TENNESSEE:intermediate
NORTH_DAKOTA:recent	MINNESOTA:recent	MONTANA:recent	SOUTH_DAKOTA:recent
DELAWARE:initial	MARYLAND:initial	NEW_JERSEY:initial	PENNSYLVANIA:initial
MAINE:intermediate	NEW_HAMPSHIRE:initial
NEW_YORK:initial	CONNECTICUT:initial	MASSACHUSETTS:initial	NEW_JERSEY:initial	PENNSYLVANIA:initial	RHODE_ISLAND:initial	VERMONT:intermediate
OKLAHOMA:recent	ARKANSAS:intermediate	COLORADO:recent	KANSAS:recent	MISSOURI:intermediate	NEW_MEXICO:recent	TEXAS:intermediate
ILLINOIS:intermediate	INDIANA:intermediate	IOWA:intermediate	MICHIGAN:intermediate	KENTUCKY:intermediate	MISSOURI:intermediate	WISCONSIN:intermediate
RHODE_ISLAND:initial	CONNECTICUT:initial	MASSACHUSETTS:initial	NEW_YORK:initial
CALIFORNIA:intermediate	ARIZONA:recent	NEVADA:recent	OREGON:recent
VIRGINIA:initial	KENTUCKY:intermediate	MARYLAND:initial	NORTH_CAROLINA:initial	TENNESSEE:intermediate	WEST_VIRGINIA:recent
KENTUCKY:intermediate	ILLINOIS:intermediate	INDIANA:intermediate	MISSOURI:intermediate	OHIO:intermediate	TENNESSEE:intermediate	VIRGINIA:initial	WEST_VIRGINIA:recent
VERMONT:intermediate	MASSACHUSETTS:initial	NEW_HAMPSHIRE:initial	NEW_YORK:initial
WEST_VIRGINIA:recent	KENTUCKY:intermediate	MARYLAND:initial	OHIO:intermediate	PENNSYLVANIA:initial	VIRGINIA:initial
WASHINGTON:recent	IDAHO:recent	OREGON:recent
OREGON:recent	CALIFORNIA:intermediate	IDAHO:recent	NEVADA:recent	WASHINGTON:recent
INDIANA:intermediate	ILLINOIS:intermediate	KENTUCKY:intermediate	MICHIGAN:intermediate	OHIO:intermediate
PENNSYLVANIA:initial	DELAWARE:initial	MARYLAND:initial	NEW_JERSEY:initial	NEW_YORK:initial	OHIO:intermediate	WEST_VIRGINIA:recent
KANSAS:recent	COLORADO:recent	MISSOURI:intermediate	NEBRASKA:recent	OKLAHOMA:recent
NEW_JERSEY:initial	DELAWARE:initial	NEW_YORK:initial	PENNSYLVANIA:initial
MICHIGAN:intermediate	ILLINOIS:intermediate	INDIANA:intermediate	MINNESOTA:recent	OHIO:intermediate	WISCONSIN:intermediate
MARYLAND:initial	DELAWARE:initial	PENNSYLVANIA:initial	VIRGINIA:initial	WEST_VIRGINIA:recent
NEVADA:recent	ARIZONA:recent	CALIFORNIA:intermediate	IDAHO:recent	OREGON:recent	UTAH:recent
NEBRASKA:recent	COLORADO:recent	IOWA:intermediate	KANSAS:recent	MISSOURI:intermediate	SOUTH_DAKOTA:recent	WYOMING:recent
