>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:18 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 2 1 2 2 3 1 1 
intermediate:1 1 1 1 1 1 3 1 1 7 
recent:3 6 2 1 5 
Number of  clusters:
initial=>8, intermediate=>10, recent=>5, 
Maximal cluster size:
initial=>3, intermediate=>7, recent=>6, 
Average cluster size:
initial=>1.63, intermediate=>1.8, recent=>3.4, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:18 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 6 6 
intermediate:2 2 1 1 10 2 
recent:11 6 
Number of  clusters:
initial=>3, intermediate=>6, recent=>2, 
Maximal cluster size:
initial=>6, intermediate=>10, recent=>11, 
Average cluster size:
initial=>4.33, intermediate=>3, recent=>8.5, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:18 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:2 1 1 1 1 3 2 2 
intermediate:1 1 2 9 1 3 1 
recent:1 2 6 3 3 2 
Number of  clusters:
initial=>8, intermediate=>7, recent=>6, 
Maximal cluster size:
initial=>3, intermediate=>9, recent=>6, 
Average cluster size:
initial=>1.63, intermediate=>2.57, recent=>2.83, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:18 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:2 1 6 1 1 1 1 
intermediate:1 1 1 1 2 12 
recent:5 3 2 3 2 2 
Number of  clusters:
initial=>7, intermediate=>6, recent=>6, 
Maximal cluster size:
initial=>6, intermediate=>12, recent=>5, 
Average cluster size:
initial=>1.86, intermediate=>3, recent=>2.83, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:18 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 5 2 2 2 
intermediate:2 4 3 1 8 
recent:5 3 5 1 3 
Number of  clusters:
initial=>6, intermediate=>5, recent=>5, 
Maximal cluster size:
initial=>5, intermediate=>8, recent=>5, 
Average cluster size:
initial=>2.17, intermediate=>3.6, recent=>3.4, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:19 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:2 1 1 1 1 1 3 1 2 
intermediate:1 1 1 2 1 5 7 
recent:6 1 1 9 
Number of  clusters:
initial=>9, intermediate=>7, recent=>4, 
Maximal cluster size:
initial=>3, intermediate=>7, recent=>9, 
Average cluster size:
initial=>1.44, intermediate=>2.57, recent=>4.25, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:19 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:2 1 1 1 3 2 1 2 
intermediate:1 1 1 1 1 1 2 10 
recent:1 2 3 7 3 1 
Number of  clusters:
initial=>8, intermediate=>8, recent=>6, 
Maximal cluster size:
initial=>3, intermediate=>10, recent=>7, 
Average cluster size:
initial=>1.63, intermediate=>2.25, recent=>2.83, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:19 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 2 2 2 1 3 1 
intermediate:1 1 1 1 2 12 
recent:1 16 
Number of  clusters:
initial=>8, intermediate=>6, recent=>2, 
Maximal cluster size:
initial=>3, intermediate=>12, recent=>16, 
Average cluster size:
initial=>1.63, intermediate=>3, recent=>8.5, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:19 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 2 5 2 1 1 1 
intermediate:1 1 1 1 4 2 1 1 6 
recent:1 1 1 12 2 
Number of  clusters:
initial=>7, intermediate=>9, recent=>5, 
Maximal cluster size:
initial=>5, intermediate=>6, recent=>12, 
Average cluster size:
initial=>1.86, intermediate=>2, recent=>3.4, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:19 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 2 2 1 2 3 1 1 
intermediate:1 1 2 1 13 
recent:7 7 2 1 
Number of  clusters:
initial=>8, intermediate=>5, recent=>4, 
Maximal cluster size:
initial=>3, intermediate=>13, recent=>7, 
Average cluster size:
initial=>1.63, intermediate=>3.6, recent=>4.25, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:19 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 2 1 3 4 1 1 
intermediate:11 1 1 1 1 1 2 
recent:1 9 4 1 1 1 
Number of  clusters:
initial=>7, intermediate=>7, recent=>6, 
Maximal cluster size:
initial=>4, intermediate=>11, recent=>9, 
Average cluster size:
initial=>1.86, intermediate=>2.57, recent=>2.83, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:19 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 1 1 1 3 2 1 2 
intermediate:7 1 1 2 1 2 4 
recent:9 1 5 2 
Number of  clusters:
initial=>9, intermediate=>7, recent=>4, 
Maximal cluster size:
initial=>3, intermediate=>7, recent=>9, 
Average cluster size:
initial=>1.44, intermediate=>2.57, recent=>4.25, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:19 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 5 1 3 1 1 1 
intermediate:2 1 1 14 
recent:2 10 5 
Number of  clusters:
initial=>7, intermediate=>4, recent=>3, 
Maximal cluster size:
initial=>5, intermediate=>14, recent=>10, 
Average cluster size:
initial=>1.86, intermediate=>4.5, recent=>5.67, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:19 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 7 1 2 1 1 
intermediate:1 1 1 1 1 2 11 
recent:9 1 2 2 2 1 
Number of  clusters:
initial=>6, intermediate=>7, recent=>6, 
Maximal cluster size:
initial=>7, intermediate=>11, recent=>9, 
Average cluster size:
initial=>2.17, intermediate=>2.57, recent=>2.83, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:19 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 1 1 5 1 2 1 
intermediate:8 1 1 1 1 2 2 1 1 
recent:6 1 5 1 1 3 
Number of  clusters:
initial=>8, intermediate=>9, recent=>6, 
Maximal cluster size:
initial=>5, intermediate=>8, recent=>6, 
Average cluster size:
initial=>1.63, intermediate=>2, recent=>2.83, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:19 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 2 4 1 2 2 
intermediate:1 1 2 1 13 
recent:5 11 1 
Number of  clusters:
initial=>7, intermediate=>5, recent=>3, 
Maximal cluster size:
initial=>4, intermediate=>13, recent=>11, 
Average cluster size:
initial=>1.86, intermediate=>3.6, recent=>5.67, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:19 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:3 1 1 1 4 1 2 
intermediate:2 1 2 1 12 
recent:1 2 9 2 1 2 
Number of  clusters:
initial=>7, intermediate=>5, recent=>6, 
Maximal cluster size:
initial=>4, intermediate=>12, recent=>9, 
Average cluster size:
initial=>1.86, intermediate=>3.6, recent=>2.83, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:20 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 3 1 1 5 1 1 
intermediate:11 2 2 1 2 
recent:1 5 9 1 1 
Number of  clusters:
initial=>7, intermediate=>5, recent=>5, 
Maximal cluster size:
initial=>5, intermediate=>11, recent=>9, 
Average cluster size:
initial=>1.86, intermediate=>3.6, recent=>3.4, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:20 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 1 2 2 3 3 
intermediate:2 1 1 3 1 10 
recent:2 10 3 1 1 
Number of  clusters:
initial=>7, intermediate=>6, recent=>5, 
Maximal cluster size:
initial=>3, intermediate=>10, recent=>10, 
Average cluster size:
initial=>1.86, intermediate=>3, recent=>3.4, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:20 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 4 1 5 2 
intermediate:1 1 2 3 11 
recent:5 5 4 2 1 
Number of  clusters:
initial=>5, intermediate=>5, recent=>5, 
Maximal cluster size:
initial=>5, intermediate=>11, recent=>5, 
Average cluster size:
initial=>2.6, intermediate=>3.6, recent=>3.4, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:20 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 2 1 3 1 2 3 
intermediate:1 1 1 1 2 12 
recent:1 7 9 
Number of  clusters:
initial=>7, intermediate=>6, recent=>3, 
Maximal cluster size:
initial=>3, intermediate=>12, recent=>9, 
Average cluster size:
initial=>1.86, intermediate=>3, recent=>5.67, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:20 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 2 5 1 1 1 1 
intermediate:1 4 1 1 2 9 
recent:4 9 1 3 
Number of  clusters:
initial=>8, intermediate=>6, recent=>4, 
Maximal cluster size:
initial=>5, intermediate=>9, recent=>9, 
Average cluster size:
initial=>1.63, intermediate=>3, recent=>4.25, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:20 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 1 1 2 3 1 2 1 
intermediate:1 1 1 1 14 
recent:2 10 1 3 1 
Number of  clusters:
initial=>9, intermediate=>5, recent=>5, 
Maximal cluster size:
initial=>3, intermediate=>14, recent=>10, 
Average cluster size:
initial=>1.44, intermediate=>3.6, recent=>3.4, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:20 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 1 2 2 1 1 4 
intermediate:1 1 2 1 1 2 10 
recent:1 9 1 1 2 1 2 
Number of  clusters:
initial=>8, intermediate=>7, recent=>7, 
Maximal cluster size:
initial=>4, intermediate=>10, recent=>9, 
Average cluster size:
initial=>1.63, intermediate=>2.57, recent=>2.43, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:20 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 1 1 2 6 1 
intermediate:6 1 1 3 2 4 1 
recent:13 1 2 1 
Number of  clusters:
initial=>7, intermediate=>7, recent=>4, 
Maximal cluster size:
initial=>6, intermediate=>6, recent=>13, 
Average cluster size:
initial=>1.86, intermediate=>2.57, recent=>4.25, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:20 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 2 1 3 3 1 1 1 
intermediate:2 2 1 3 1 2 7 
recent:5 11 1 
Number of  clusters:
initial=>8, intermediate=>7, recent=>3, 
Maximal cluster size:
initial=>3, intermediate=>7, recent=>11, 
Average cluster size:
initial=>1.63, intermediate=>2.57, recent=>5.67, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:20 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 1 4 1 1 3 1 
intermediate:1 3 1 2 11 
recent:3 8 2 2 2 
Number of  clusters:
initial=>8, intermediate=>5, recent=>5, 
Maximal cluster size:
initial=>4, intermediate=>11, recent=>8, 
Average cluster size:
initial=>1.63, intermediate=>3.6, recent=>3.4, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:20 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:5 1 1 2 2 1 1 
intermediate:1 1 3 1 1 11 
recent:3 3 8 2 1 
Number of  clusters:
initial=>7, intermediate=>6, recent=>5, 
Maximal cluster size:
initial=>5, intermediate=>11, recent=>8, 
Average cluster size:
initial=>1.86, intermediate=>3, recent=>3.4, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:20 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 2 1 1 1 1 3 2 
intermediate:1 1 2 1 1 1 11 
recent:1 9 2 1 1 3 
Number of  clusters:
initial=>9, intermediate=>7, recent=>6, 
Maximal cluster size:
initial=>3, intermediate=>11, recent=>9, 
Average cluster size:
initial=>1.44, intermediate=>2.57, recent=>2.83, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:21 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 1 1 2 3 1 3 
intermediate:6 1 1 1 1 1 2 5 
recent:1 1 5 8 1 1 
Number of  clusters:
initial=>8, intermediate=>8, recent=>6, 
Maximal cluster size:
initial=>3, intermediate=>6, recent=>8, 
Average cluster size:
initial=>1.63, intermediate=>2.25, recent=>2.83, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:21 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 1 1 4 2 1 1 1 
intermediate:1 1 2 1 13 
recent:4 5 7 1 
Number of  clusters:
initial=>9, intermediate=>5, recent=>4, 
Maximal cluster size:
initial=>4, intermediate=>13, recent=>7, 
Average cluster size:
initial=>1.44, intermediate=>3.6, recent=>4.25, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:21 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 1 2 3 1 1 3 
intermediate:2 2 1 2 1 10 
recent:1 7 2 3 2 1 1 
Number of  clusters:
initial=>8, intermediate=>6, recent=>7, 
Maximal cluster size:
initial=>3, intermediate=>10, recent=>7, 
Average cluster size:
initial=>1.63, intermediate=>3, recent=>2.43, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:21 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 2 2 3 1 2 1 
intermediate:1 1 1 2 13 
recent:2 14 1 
Number of  clusters:
initial=>8, intermediate=>5, recent=>3, 
Maximal cluster size:
initial=>3, intermediate=>13, recent=>14, 
Average cluster size:
initial=>1.63, intermediate=>3.6, recent=>5.67, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:21 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 4 1 2 1 1 2 
intermediate:1 6 4 1 1 2 3 
recent:1 6 1 2 1 4 2 
Number of  clusters:
initial=>8, intermediate=>7, recent=>7, 
Maximal cluster size:
initial=>4, intermediate=>6, recent=>6, 
Average cluster size:
initial=>1.63, intermediate=>2.57, recent=>2.43, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:21 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:5 1 1 1 4 1 
intermediate:1 1 1 1 14 
recent:4 1 11 1 
Number of  clusters:
initial=>6, intermediate=>5, recent=>4, 
Maximal cluster size:
initial=>5, intermediate=>14, recent=>11, 
Average cluster size:
initial=>2.17, intermediate=>3.6, recent=>4.25, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:21 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 1 1 1 2 1 2 1 1 1 
intermediate:1 1 1 2 1 12 
recent:6 8 2 1 
Number of  clusters:
initial=>11, intermediate=>6, recent=>4, 
Maximal cluster size:
initial=>2, intermediate=>12, recent=>8, 
Average cluster size:
initial=>1.18, intermediate=>3, recent=>4.25, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:21 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:2 2 1 2 1 2 1 2 
intermediate:6 1 2 1 2 6 
recent:2 6 6 3 
Number of  clusters:
initial=>8, intermediate=>6, recent=>4, 
Maximal cluster size:
initial=>2, intermediate=>6, recent=>6, 
Average cluster size:
initial=>1.63, intermediate=>3, recent=>4.25, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:21 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:3 1 1 1 3 4 
intermediate:1 2 1 14 
recent:6 5 3 2 1 
Number of  clusters:
initial=>6, intermediate=>4, recent=>5, 
Maximal cluster size:
initial=>4, intermediate=>14, recent=>6, 
Average cluster size:
initial=>2.17, intermediate=>4.5, recent=>3.4, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:21 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 4 3 2 1 1 
intermediate:1 1 1 2 2 11 
recent:1 11 3 1 1 
Number of  clusters:
initial=>7, intermediate=>6, recent=>5, 
Maximal cluster size:
initial=>4, intermediate=>11, recent=>11, 
Average cluster size:
initial=>1.86, intermediate=>3, recent=>3.4, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:21 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:2 1 3 3 1 3 
intermediate:2 2 1 3 1 1 1 7 
recent:1 1 12 1 1 1 
Number of  clusters:
initial=>6, intermediate=>8, recent=>6, 
Maximal cluster size:
initial=>3, intermediate=>7, recent=>12, 
Average cluster size:
initial=>2.17, intermediate=>2.25, recent=>2.83, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:22 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:2 1 1 5 1 1 1 1 
intermediate:1 2 3 1 11 
recent:6 7 1 2 1 
Number of  clusters:
initial=>8, intermediate=>5, recent=>5, 
Maximal cluster size:
initial=>5, intermediate=>11, recent=>7, 
Average cluster size:
initial=>1.63, intermediate=>3.6, recent=>3.4, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:22 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 5 1 2 2 2 
intermediate:12 1 1 1 1 2 
recent:7 1 1 6 1 1 
Number of  clusters:
initial=>6, intermediate=>6, recent=>6, 
Maximal cluster size:
initial=>5, intermediate=>12, recent=>7, 
Average cluster size:
initial=>2.17, intermediate=>3, recent=>2.83, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:22 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 1 1 1 2 1 3 2 
intermediate:8 3 1 4 2 
recent:7 6 1 1 2 
Number of  clusters:
initial=>9, intermediate=>5, recent=>5, 
Maximal cluster size:
initial=>3, intermediate=>8, recent=>7, 
Average cluster size:
initial=>1.44, intermediate=>3.6, recent=>3.4, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:22 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 2 6 1 2 
intermediate:2 1 1 1 1 12 
recent:8 6 2 1 
Number of  clusters:
initial=>6, intermediate=>6, recent=>4, 
Maximal cluster size:
initial=>6, intermediate=>12, recent=>8, 
Average cluster size:
initial=>2.17, intermediate=>3, recent=>4.25, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:22 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:3 1 3 2 1 1 1 1 
intermediate:11 2 2 1 2 
recent:1 9 4 2 1 
Number of  clusters:
initial=>8, intermediate=>5, recent=>5, 
Maximal cluster size:
initial=>3, intermediate=>11, recent=>9, 
Average cluster size:
initial=>1.63, intermediate=>3.6, recent=>3.4, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:22 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 2 1 1 1 2 1 4 
intermediate:1 1 6 6 4 
recent:8 5 1 1 2 
Number of  clusters:
initial=>8, intermediate=>5, recent=>5, 
Maximal cluster size:
initial=>4, intermediate=>6, recent=>8, 
Average cluster size:
initial=>1.63, intermediate=>3.6, recent=>3.4, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:22 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 1 1 4 1 1 1 1 1 
intermediate:1 1 1 1 1 1 12 
recent:2 14 1 
Number of  clusters:
initial=>10, intermediate=>7, recent=>3, 
Maximal cluster size:
initial=>4, intermediate=>12, recent=>14, 
Average cluster size:
initial=>1.3, intermediate=>2.57, recent=>5.67, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:22 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 3 6 2 
intermediate:1 1 4 1 11 
recent:1 11 1 3 1 
Number of  clusters:
initial=>5, intermediate=>5, recent=>5, 
Maximal cluster size:
initial=>6, intermediate=>11, recent=>11, 
Average cluster size:
initial=>2.6, intermediate=>3.6, recent=>3.4, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:22 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:1 1 1 1 4 1 4 
intermediate:1 1 1 4 11 
recent:10 6 1 
Number of  clusters:
initial=>7, intermediate=>5, recent=>3, 
Maximal cluster size:
initial=>4, intermediate=>11, recent=>10, 
Average cluster size:
initial=>1.86, intermediate=>3.6, recent=>5.67, 
>ccluall on net:'gim00.states.config' categories is default.dictionary:default color-scheme:none 11/13/2002 15:44:22 old_header:>isomorphic Maslov null by 'gim' 11/13/2002 15:44:12 in:'../states.config'
initial intermediate recent
Cluster sizes:
initial:2 3 2 5 1 
intermediate:11 2 1 1 1 2 
recent:7 1 1 5 3 
Number of  clusters:
initial=>5, intermediate=>6, recent=>5, 
Maximal cluster size:
initial=>5, intermediate=>11, recent=>7, 
Average cluster size:
initial=>2.6, intermediate=>3, recent=>3.4, 
