>dijkastra_by_categories.pl network:'states.config' 10/9/2002 21:14:46 older header: >Translated network configuration. In:config Dic:dic9/8/2002 16:10:41 Old header: >48 continetal states and theiry bodering configuration
Average shortest path:
initial intermediate recent
--------------------------------------
1	1.46	2.31	  | initial 
2.06	1.22	1.89	  | intermediate 
4.18	1.41	1.12	  | recent 

Standard deviation:
initial intermediate recent
--------------------------------------
0	0.5	0.91	  | initial 
1.22	0.53	1.15	  | intermediate 
1.29	0.49	0.47	  | recent 

Symmetical average shortest path:
initial intermediate recent
--------------------------------------
1	1.81	3.37	  | initial 
1.81	1.22	1.66	  | intermediate 
3.37	1.66	1.12	  | recent 

Symmetical Standard deviation:
initial intermediate recent
--------------------------------------
0	1.03	1.47	  | initial 
1.03	0.53	0.92	  | intermediate 
1.47	0.92	0.47	  | recent 
