> color_clusters0.0.pl on network:config2 dictionary:dic color_scheme:color_scheme.tab Cluster number: 7  Date:9/8/2002 16:12:54  Old header: >Translated network configuration. In:config Dic:dic9/8/2002 16:10:41 Old header: >48 continetal states and theiry bodering configuration
(CALIFORNIA):Blue	(WYOMING WASHINGTON UTAH SOUTH_DAKOTA OREGON OKLAHOMA NORTH_DAKOTA NEW_MEXICO NEVADA NEBRASKA MONTANA MINNESOTA KANSAS IDAHO COLORADO ARIZONA):Black
(VIRGINIA SOUTH_CAROLINA RHODE_ISLAND PENNSYLVANIA NORTH_CAROLINA NEW_YORK NEW_JERSEY NEW_HAMPSHIRE MASSACHUSETTS MARYLAND GEORGIA DELAWARE CONNECTICUT):Red	(MAINE):Blue	(VERMONT):Blue	(WEST_VIRGINIA):Black	(WISCONSIN TEXAS TENNESSEE OHIO MISSOURI MISSISSIPPI MICHIGAN LOUISIANA KENTUCKY IOWA INDIANA ILLINOIS FLORIDA ARKANSAS ALABAMA):Blue
(VERMONT):Blue	(VIRGINIA SOUTH_CAROLINA RHODE_ISLAND PENNSYLVANIA NORTH_CAROLINA NEW_YORK NEW_JERSEY NEW_HAMPSHIRE MASSACHUSETTS MARYLAND GEORGIA DELAWARE CONNECTICUT):Red
(MAINE):Blue	(VIRGINIA SOUTH_CAROLINA RHODE_ISLAND PENNSYLVANIA NORTH_CAROLINA NEW_YORK NEW_JERSEY NEW_HAMPSHIRE MASSACHUSETTS MARYLAND GEORGIA DELAWARE CONNECTICUT):Red
(WEST_VIRGINIA):Black	(VIRGINIA SOUTH_CAROLINA RHODE_ISLAND PENNSYLVANIA NORTH_CAROLINA NEW_YORK NEW_JERSEY NEW_HAMPSHIRE MASSACHUSETTS MARYLAND GEORGIA DELAWARE CONNECTICUT):Red	(WISCONSIN TEXAS TENNESSEE OHIO MISSOURI MISSISSIPPI MICHIGAN LOUISIANA KENTUCKY IOWA INDIANA ILLINOIS FLORIDA ARKANSAS ALABAMA):Blue
(WYOMING WASHINGTON UTAH SOUTH_DAKOTA OREGON OKLAHOMA NORTH_DAKOTA NEW_MEXICO NEVADA NEBRASKA MONTANA MINNESOTA KANSAS IDAHO COLORADO ARIZONA):Black	(CALIFORNIA):Blue	(WISCONSIN TEXAS TENNESSEE OHIO MISSOURI MISSISSIPPI MICHIGAN LOUISIANA KENTUCKY IOWA INDIANA ILLINOIS FLORIDA ARKANSAS ALABAMA):Blue
(WISCONSIN TEXAS TENNESSEE OHIO MISSOURI MISSISSIPPI MICHIGAN LOUISIANA KENTUCKY IOWA INDIANA ILLINOIS FLORIDA ARKANSAS ALABAMA):Blue	(WEST_VIRGINIA):Black	(WYOMING WASHINGTON UTAH SOUTH_DAKOTA OREGON OKLAHOMA NORTH_DAKOTA NEW_MEXICO NEVADA NEBRASKA MONTANA MINNESOTA KANSAS IDAHO COLORADO ARIZONA):Black
